@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #d1d5db;
  font-family: "poppins", sans-serif;
  color-scheme: light;
}

.light-theme {
  --background: #fefefe;
  --foreground: #1f2937;
  color-scheme: light;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6e3792;
  border-radius: 10px;
}

@keyframes textShine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.titleShine {
  background: linear-gradient(
    to left,
    #ceabeb 20%,
    #7953cd 30%,
    #7953cd 70%,
    #ceabeb 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 4s ease-in-out infinite;
}
